.color-btn {
    border-radius: 32px;
    border: 1px solid black;
    background: none;
    padding: 10px 20px;
    background-color: #fff;
    max-width: 200px;
}

.color-btn:hover {
    background-color: black;
    color: white;
}

.text-input {
    max-width: 300px;
    border: 1px solid black;
    border-radius: 12px;
    padding: 10px;
}

body {
    transition: all 0.5s linear;
}

#dropdown {
    outline: 0;
    border-radius: 8px;
    padding: 5px;
    max-width: 125px;
}