.color-btn {
    border-radius: 32px;
    border: 1px solid black;
    background: none;
    padding: 10px 20px;
}

.color-btn:hover {
    background-color: black;
    color: white;
}

.text-input {
    max-width: 300px;
    border: 1px solid black;
    border-radius: 12px;
    padding: 10px;
}